---
layout: tour
title: Especializados em Backup
description: "Somos especializados em fazer apenas uma coisa: garantir que suas NFe's estão bem guardadas!"
image_class: backup
order: 2
---
%ol.hugefeatures
  %li.tour-security-backup
    %h3 Guardamos suas NFe's de forma segura
    %p O nosso sistema de backup é extremamente seguro. Somente com muito foco e determinação é possível alcançar a excelência na prestação de serviços.
  %li.tour-secure-backup
    %h3 Acesso 100% criptografado
    %p Todos os acessos e transferências são feitas usando certificados SSL para garantir que suas NFe's vão trafegar seguramente na rede.
  %li.tour-redundancy-backup
    %h3 Estrutura distribuida
    %p Nossa estrutura é completamente distribuida garantindo a redundância dos dados para que mesmo com um desastre natural, ele ainda exista em outro local.
  %li.tour-ownership-backup
    %h3 Os dados são sempre seus!
    %p As NFe's que estão guardadas conosco são propriedade sua e você pode a qualquer momento receber todas as NFe's que estão guardadas conosco.
