---
layout: tour
title: Integração simples
description: Para guardar suas NFe's basta enviar um e-mail para a sua conta exclusiva e ficar tranquilo.
image_class: integration
order: 3
---
%ol.hugefeatures
  %li.tour-send-integration
    %h3 Simples como enviar um e-mail
    %p Cada cliente recebe um email exclusivo para receber suas NFe's. Para guardar suas NFe's, basta mandar um e-mail com o XML e/ou PDF anexado.
  %li.tour-compatibility-integration
    %h3 Acesso via web sem precisar de instalação
    %p Não é necessário instalar nenhum programa no seu computador, tudo acontece nas nuvens e você tem acesso exclusivo para visualizar suas NFe's.
  %li.tour-manage-integration
    %h3 Você gerencia e reenvia suas NFe's
    %p Com uma interface extremamente simples, você pode verificar, gerenciar e re-enviar suar NFe's para seus clientes, fornecedores, colaboradores, contadores, etc.
  %li.tour-contract-integration
    %h3 Liberdade de escolha
    %p Você não está preso a nós por um contrato de fidelidade. Você pode cancelar sua conta a qualquer momento e receber todas as suas NFe's imediatamente.
