---
layout: tour
title: Introdução
caption: Simplifique a guarda dos seus documentos fiscais
description: Entenda aqui por que é tão importante guardar suas NFe's e como podemos ajudá-lo a mantê-las seguras!
order: 1
---
.half.left
  %h2.no-margin Desmistificando a NFe...
  %p.bigger Na emissão de Notas Fiscais em papel, o contribuinte é quem confecciona, preenche, assina, emite e guarda a Notas Fiscais. Na NFe, podemos comparar a confecção que é feita em uma gráfica agora como sendo um software adquirido para gerar as NFe's. O preenchimento é feito da mesma forma e assinatura é feita através de um certificado digital (assinatura eletrônica). A emissão está condicionada a autenticação da SEFAZ do estado que é feita através de um serviço virtual, só então o contribuinte está autorizado a circular as mercadorias vendidas através daquela NFe.
.half.right
  %h2.no-margin Guarda das NFe's
  %p.bigger Assim como as Notas Fiscais manuais ou impressas, tanto o contribuinte emitente como o receptor é obrigado por lei a guardar por 5 anos mais o ano corrente todas as NFe's. Enquanto papel, você sempre teve o controle sobre a guarda das suas Notas Fiscais e poderia coloca-las em lugar seguro, tirar cópias e até guardar fora da empresa se desejasse. Com a mudança do papel para arquivo digital, muitos são os riscos de virus, problemas técnicos e de equipamentos, e mesmo tendo um excelente sistema de emissão e controle de NFe's pode não garantir o backup das suas NFe's.
.rule
%h3 A NFe Garantida é a solução:
%ol.bigfeatures
  {% for link_page in site.ordered_pages %}
  {% unless link_page.title == page.title %}
  %li.tour-{{link_page.image_class}}
    %h3
      %a(href='{{link_page.url}}') {{link_page.title}}
    %p {{link_page.description}}
  {% endunless %}
  {% endfor %}
