---
layout: tour
title: O que diz a Lei?
description: Reunimos as perguntas mais freqüentes em relação a NFe e a necessidade de guardá-la de forma segura.
descriptiona: Resumimos os principais artigos da Lei de forma simplificada para ajudar a esclarecer as perguntas mais freqüentes em relação a NFe e a necessidade de guardá-la de forma segura.
image_class: law
order: 5
---
%script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js')
%script(src='/js/faq.js')
%ol.faq
  %li
    %a(href='#') O que é a NFe?
    %p.hidden
      %strong
        Parágrafo primeiro da cláusula primeira do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "Considera-se Nota Fiscal Eletrônica o documento emitido e armazenado eletronicamente, de existência apenas digital, com intuito de documentar operações e prestações, cuja validade jurídica é garantida pela assinatura digital do emitente e autorização de uso pela administração tributária da unidade federada do contribuinte, antes da ocorrência do fato gerador."
  %li
    %a(href='#') O que é este documento eletrônico?
    %p.hidden
      %strong
        Inciso I da cláusula terceira do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "o arquivo digital da NF-e deverá ser elaborado no padrão XML (Extended Markup Language);"
  %li
    %a(href='#') Quem deve gerar o número da NFe?
    %p.hidden
      %strong
        Inciso III da cláusula terceira do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "a NF-e deverá conter um “código numérico”, gerado pelo emitente, que comporá a “chave de acesso” de identificação da NF-e, juntamente com o CNPJ do emitente, número e série da NF-e;"
  %li
    %a(href='#') Quem deve assinar a NFe?
    %p.hidden
      %strong
        Inciso IV da cláusula terceira do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "a NF-e deverá ser assinada pelo emitente, com assinatura digital, certificada por entidade credenciada pela Infra-estrutura de Chaves Públicas Brasileira - ICP-Brasil, contendo o nº do CNPJ de qualquer dos estabelecimentos do contribuinte, a fim de garantir a autoria do documento digital."
  %li
    %a(href='#') Quando pode o documento digital (XML) ser considerado autorizado?
    %p.hidden
      %strong
        Incisos I e II da cláusula quarta do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "I - ser transmitido eletronicamente à administração tributária, nos termos da cláusula quinta;
      %br
      II - ter seu uso autorizado por meio de Autorização de Uso da NF-e, nos termos da cláusula sexta."
      %br
  %li
    %a(href='#') Como deve ser feita a transmissão da NF-e?
    %p.hidden
      %strong
        Cláusula quinta do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "A transmissão do arquivo digital da NF-e deverá ser efetuada via Internet, por meio de protocolo de segurança ou criptografia, com utilização de software desenvolvido ou adquirido pelo contribuinte ou disponibilizado pela administração tributária."
  %li
    %a(href='#') Como vou entregar um documento eletrônico para o acompanhamento da mercadoria ao transportador e ao destinatário?
    %p.hidden
      %strong
        Cláusula nona do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "Fica instituído o Documento Auxiliar da NF-e - DANFE, conforme leiaute estabelecido no ‘Manual de Integração - Contribuinte’, para acompanhar o trânsito das mercadorias acobertado por NF-e ou para facilitar a consulta da NF-e, prevista na cláusula décima quinta."
  %li
    %a(href='#') E o que é o DANFE?
    %p.hidden
      %strong
        Parágrafo terceiro ao décimo da cláusula sétima do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "O DANFE utilizado para acompanhar o trânsito de mercadorias acobertado por NF-e será impresso em uma única via. O DANFE deverá ser impresso em papel, exceto papel jornal, no tamanho mínimo A4 (210 x 297 mm) e máximo ofício 2 (230 x 330 mm), podendo ser utilizadas folhas soltas, formulário de segurança, Formulário de Segurança para Impressão de Documento Auxiliar de Documento Fiscal Eletrônico (FS-DA), formulário contínuo ou formulário pré-impresso. O DANFE deverá conter código de barras, conforme padrão estabelecido no ‘Manual de Integração - Contribuinte’. O DANFE poderá conter outros elementos gráficos, desde que não prejudiquem a leitura do seu conteúdo ou do código de barras por leitor óptico. Os contribuintes, mediante autorização de cada unidade da Federação, poderão solicitar alteração do leiaute do DANFE, previsto no ‘Manual de Integração - Contribuinte’, para adequá-lo às suas operações, desde que mantidos os campos obrigatórios da NF-e constantes do DANFE. Os títulos e informações dos campos constantes no DANFE devem ser grafados de modo que seus dizeres e indicações estejam bem legíveis.  É permitida a indicação de informações complementares de interesse do emitente, impressas no verso do DANFE, hipótese em que sempre será reservado espaço, com a dimensão mínima de 10x15 cm, em qualquer sentido, para atendimento ao disposto no § 9º."
  %li
    %a(href='#') Basta entregar o DANFE para o transportador e ao destinatário ou é preciso também disponibilizar a NF-e?
    %p.hidden
      %strong
        Parágrafo sétimo da cláusula sétima do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "O emitente da NF-e deverá, obrigatoriamente, encaminhar ou disponibilizar download do arquivo da NF-e e seu respectivo Protocolo de Autorização de Uso ao destinatário e ao transportador contratado, imediatamente após o recebimento da autorização de uso da NF-e."
  %li
    %a(href='#') Quando possso utilizar o DANFE para transitar com mercadorias?
    %p.hidden
      %strong
        Parágrafo primeiro da cláusula nona do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "O DANFE somente poderá ser utilizado para transitar com as mercadorias após a concessão da Autorização de Uso da NF-e, de que trata o inciso III da cláusula sétima, ou na hipótese prevista na cláusula décima primeira (contigência)."
  %li
    %a(href='#') Por quanto tempo a administração tributária se compromete a guardar os dados da NFe?
    %p.hidden
      %strong
        Parágrafo primeiro da cláusula décima quinta do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "A consulta à NF-e será disponibilizada, em “site” na internet pelo prazo mínimo de 180 (cento e oitenta) dias."
  %li
    %a(href='#') O que acontece com os dados da NF-e após esse prazo?
    %p.hidden
      %strong
        Parágrafo segundo da cláusula décima quinta do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "Após o prazo previsto no § 1º, a consulta à NF-e poderá ser substituída pela prestação de informações parciais que identifiquem a NF-e (número, data de emissão, CNPJ do emitente e do destinatário, valor e sua situação), que ficarão disponíveis pelo prazo decadencial."
  %li
    %a(href='#') E por quanto tempo a legislação obriga o emitente e o destinatário a guardar a NFe?
    %p.hidden
      %strong
        Cláusula décima do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "O emitente e o destinatário deverão manter a NF-e em arquivo digital, sob sua guarda e responsabilidade, pelo prazo estabelecido na legislação tributária, mesmo que fora da empresa, devendo ser disponibilizado para a Administração Tributária quando solicitado."
    %p.hidden
      %strong
        Artigo 173 da
        %a(href='http://www.planalto.gov.br/ccivil_03/Leis/L5172.htm#art173') Lei 5.172
      %br
      "O direito de a Fazenda Pública constituir o crédito tributário extingue-se após 5 (cinco) anos, contados:
      %br
      I - do primeiro dia do exercício seguinte àquele em que o lançamento poderia ter sido efetuado;
      %br
      II - da data em que se tornar definitiva a decisão que houver anulado, por vício formal, o lançamento anteriormente efetuado."
  %li
    %a(href='#') O destinatário só precisa receber a NF-e e guarda-la?
    %p.hidden
      %strong
        Artigo primeiro da cláusula décima do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "O destinatário deverá verificar a validade e autenticidade da NF-e e a existência de Autorização de Uso da NF-e."
  %li
    %a(href='#') E se o destinatário não for uma empresa ele está livre de guardar a NF-e?
    %p.hidden
      %strong
        Artigo primeiro da cláusula décima do
        %a(href='http://www.fazenda.gov.br/confaz/confaz/ajustes/2005/AJ_007_05.htm') Ajuste SINIEF 07/05
      %br
      "Caso o destinatário não seja contribuinte credenciado para a emissão de NF-e, alternativamente ao disposto no caput, o destinatário deverá manter em arquivo o DANFE relativo a NF-e da operação, devendo ser apresentado à administração tributária, quando solicitado."
