---
layout: tour
title: Garantia de validade
description: Ao chegar até nós, fazemos a verificação junto a SEFAZ para garantir a validade da NFe.
image_class: valid
order: 4
---
%ol.hugefeatures
  %li.tour-verify-validation
    %h3 Conferimos o status da NFe junto a SEFAZ
    %p Para evitar que você emita ou receba uma NFe que não esteja autorizada pelo SEFAZ ou esteja cancelada, nós verificamos o status e notificamos você por e-mail.
  %li.tour-notify-validation
    %h3 Encaminhamento automático para seus e-mails
    %p Ao receber uma NFe, encaminhamos para os e-mails definidos no seu cadastro como seus colaboradores da área fiscal, administradores, contadores, etc.
